*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1024px;
    margin: auto;
    font-family: Tahoma;
}

.header{
    height: 200px;
}
#logo{
    float: left;
    width: 200px;
}
#total{
    font-size: 30px;
    padding-top: 70px;
    padding-left: 170px;
    text-align: center;
    width: 1024px;
    color: pink;
}
#nav{
    height: 30px;
    background-color: greenyellow;
}
li{
    float: left;
    list-style: none;
}
a {
    text-decoration: none;
    line-height: 30px;
    padding: 0px 40px 0px 40px;
}
.select{
    padding-top: 10px;
    width: 750px;
    float: left;

}
.item{
    height: 200px;
}
.imge{
    width: 300px;
    float: left;
}
p{
    font-size: 14px;
}
.information{
    width:450px ;
    float: left;
    padding-left: 10px;

}
.main{
    float: left;
}
.content{
    padding-top: 10px;
}

.date{
    padding-top: 10px;
    float: left;
    margin-right: 10px;
}
.category{
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}
.see{
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}
.advertisement{
    float:left;
    width: 254px;
}
.imge-advaer{
   margin-left:10px ;
   padding-top: 10px;
}
.footer{
    width: 1024px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    clear: left;
    background-color: black;
    color: white;
}

